{% if messages %}
    <div class="row">
        <div class="col-lg-12">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert {% if message.tags %} alert-danger {% endif %} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endif %}