{% load static %}

<!DOCTYPE html>
<head>
    {% block head-meta %}
        <meta charset="utf-8"/>
        <title>Celèri Health</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/images/apple-icon-57x57.png' %}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/images/apple-icon-60x60.png' %}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/images/apple-icon-60x60.png' %}/">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/images/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/images/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/images/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/images/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/images/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'assets/images/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}

    {% block more-css %}
    {% endblock %}

    {% block head-css %}
        <!-- App css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/css/mine.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/css/fonts.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/css/nprogress.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/css/client_style.css' %}" rel="stylesheet" media="screen">

        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/nprogress.js' %}"></script>
    {% endblock %}

    {% block form-media %}
    {% endblock %}
</head>
<body>
    <!-- Navigation Bar-->
    <div class="main-con">
    {% block navbar %}
        <div class="main-header">
            <div class="container">
                <a href="{% url 'index' %}" class="main-logo">
                    {% if not provider_logo_url %}
                        <img style="width: 100%; max-height: 75px;" src="{% static 'assets/images/celeri-health-color-rgb-small.png' %}">
                    {% else %}
                        <img style="width: 100%; max-height: 75px;" src="{{ provider_logo_url }}">
                    {% endif %}
                </a>

                <ul class="ml-auto">
                    <li class="user">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>{{ user_name }}</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="door logout">
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="door login">
                            <a href="{% url 'login' %}">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

        <div class="main-body">
            <div class="container">

                {% block content %}
                {% endblock %}
            </div> <!-- end container -->
        </div>
    </div>
    <!-- end wrapper -->

    {% block head-javascript %}
        <!-- jQuery  -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'assets/js/js.cookie.js' %}"></script>

        <!-- Custom main Js -->
        <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>

        {% block page-javascript %}
        {% endblock %}
    {% endblock %}
</body>
</html>