{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group pull-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {% include "pin/pin_button_entry.html" with start_text='Set passcode'%}

    <form id="pin-form" action="{% url 'create_pin' %}" method="POST">
        {% csrf_token %}
        <input id="pin" type="hidden" name="pin" value="">
    </form>

{% endblock %}

{% block page-javascript %}
    <script src="{% static 'assets/js/pin.js' %}"></script>
    <script>
        set_start_text('{{ start_text }}');
        const creating_pin_mode = true;
    </script>
{% endblock %}