{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    {% include "pin/pin_button_entry.html" with start_text='Enter passcode' %}

    <form id="pin-form" action="{% url 'enter_pin' %}" method="POST">
        {% csrf_token %}
        <input id="pin" type="hidden" name="pin" value="">
    </form>

{% endblock %}

{% block page-javascript %}
    <script src="{% static 'assets/js/pin.js' %}"></script>
    <script>
        const creating_pin_mode = false;
    </script>
{% endblock %}