{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="main-body">
        <div class="container">
            <div class="user-data new">
                <div class="text-right link-con">
                    <a href="{% url 'patient_index' %}" class="link">Cancel</a>
                </div>

                <div class="heading">Assessment Complete</div>

                <div class="assessment-con">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="asses-inner">
                                <div class="inner-heading">PATIENT</div>
                                <div class="body">{{ patient.mrn }} - {{ patient.name }}</div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="asses-inner">
                                <div class="inner-heading">PHYSICIAN</div>
                                <div class="body">{{ user_name }}</div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="asses-inner">
                                <div class="inner-heading">REPORT</div>
                                <div class="body">
                                    <div class="dropdown-con no-margin">
                                        <div class="icon-con">
                                            <a href="https://celerihealth.com/reports/view/{{ report_id }}">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        </div>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"
                                               href="https://celerihealth.com/reports/view/{{ report_id }}"
                                               role="button" aria-haspopup="true"
                                               aria-expanded="false"
                                            >
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="https://celerihealth.com/reports/view/{{ report_id }}"><i class="fa fa-eye"></i> View</a>
                                                <a class="dropdown-item" href="https://celerihealth.com/reports/download/{{ report_id }}" media="print"><i class="fa fa-print"></i> Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="asses-inner">
                                <div class="inner-heading">DATE</div>
                                <div class="body">{{ date_str }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-con">
                    <a href="{% url 'patient_index' %}" class="btn btn-primary width-auto">DASHBOARD HOME</a>
                </div>
            </div>

            <div class="main-footer">
                <div class="text-right">
                    <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block page-javascript %}
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        })
    </script>
{% endblock %}