{% extends "base.html" %}

{% load static %}

{% block content %}


    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                {% if messages %}
                    {% for message in messages %}
                        {% if 'success' in message.tags %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12 ">
            <div class="card m-b-20 text-white bg-primary btn btn-primary btn-lg">
                <a href="{% url 'patient_index' %}">
                    <h1 class="text-white">Patients</h1>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card m-b-20 text-white bg-primary btn btn-primary btn-lg">
                <a href="{% url 'battery_index' %}">
                    <h1 class="text-white">Batteries</h1>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card m-b-20 text-white bg-primary btn btn-primary btn-lg">
                <div class="btn btn-primary">
                    <h1 class="text-center">Export Data</h1>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card m-b-20 text-white bg-primary btn btn-primary btn-lg">
                <div class="btn btn-primary">
                    <h1 class="text-center">Settings</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


{% endblock %}

{% block page-javascript %}
    <script>
    </script>
{% endblock %}