{% extends "base.html" %}

{% load static %}

{% block content %}


    <!-- Page-Title -->


    <div class="user-data new">
    {% include "alert.html" with messages=messages %}
        <div class="text-right link-con">
            <a href="{% url 'patient_index' %}" class="link">Cancel</a>
        </div>

        <div class="heading">New Patient</div>

        <form method="post" class="form-inline user-form" action="{% url 'new_patient' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="form-control" value="{{ name }}">
            </div>

            <div class="form-group">
                <label for="mrn">MRN</label>
                <input id="mrn" name="mrn" type="text" class="form-control" value="{{ mrn }}">
            </div>

            <div class="form-group">
                <label for="phone">Mobile Number</label>
                <input id="phone" name="phone" type="text" class="form-control" placeholder="optional" value="{{ phone }}">
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" class="form-control" placeholder="optional" value="{{ email }}">
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="form-control select-con sm">
                    <select id="gender" name="gender" value="{{ gender }}">
                        {% for value, text in form.fields.gender.choices %}
                            {% if value == gender %}
                                <option selected value="{{ value }}">{{ text }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <i class="fa fa-caret-down"></i>
                </div>
            </div>

            <div class="form-group multi-select">
                <label for="">DOB</label>

                <div class="form-control select-con sm">
                    <select id="month" name="month" value="{{ month }}">
                        {% for value, text in form.fields.month.choices %}
                            {% if value == month %}
                                <option selected value="{{ value }}">{{ text }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <i class="fa fa-caret-down"></i>
                </div>

                <div class="form-control select-con sm" >
                    <select id="day" name="day">
                        {% for value, text in form.fields.day.choices %}
                            {% if value == day %}
                                <option selected value="{{ value }}">{{ text }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <i class="fa fa-caret-down"></i>
                </div>

                <div class="form-control select-con sm">
                    <select id="year" name="year">
                        {% for value, text in form.fields.year.choices %}
                            {% if value == year %}
                                <option selected value="{{ value }}">{{ text }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <i class="fa fa-caret-down"></i>
                </div>
            </div>

            <div class="btn-con">
                <button class="btn btn-primary" type="submit">NEXT</button>
            </div>
        </form>
    </div>


    <div class="main-footer">
        <div class="text-right">
            <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
        </div>
    </div>



{% endblock %}

{% block page-javascript %}
    <script>
    </script>
{% endblock %}