{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="assessment-question-box">

                <form method="post" class="form-horizontal m-t-20" action="{% url 'ort' instrument.id %}"
                      id="ort_form">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row">
                            <label class="col-5 col-form-label"
                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-5">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group text-right m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                                NEXT
                            </button>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}

{% block page-javascript %}


    <script>
    </script>
    <script>

    </script>
{% endblock %}