{% extends "base.html" %}

{% load static %}
{% load pagination_range %}
{% load tz %}

{% block content %}
    <div class="user-info row">
        <div class="col-lg-3 col-sm-6">
            <div class="inner">
                <div class="heading">Signed In</div>
                <div class="name">{{ user_name }}</div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="inner">
                <div class="heading">Date</div>
                <div class="name">{{ today }}</div>
            </div>
        </div>
    </div>

    <div class="user-data">
        <div class="header">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="inner">
                        <div class="heading">Patient Log</div>
                        <a href="{% url 'new_patient' %}" class="btn btn-primary">
                            <span class="icons"><i class="fa fa-plus"></i><i class="fa fa-user"></i></span>
                            NEW PATIENT
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5">
                    <div class="search-con form-control ml-auto">
                        <div id="csrf-patient-search"> {% csrf_token %} </div>
                        <i class="fa fa-search"></i>
                        <input id="patient-search" type="text" placeholder="Search" autocomplete="off">
                        <span class="status_searching"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="patient-table" class="table table-bordered user-table">
                <thead>
                <tr>
                    <th style="width:25%;"><span><i class="fa fa-font" ></i> NAME</span></th>
                    <th style="width:20%;"><span><i class="fa fa-hashtag" ></i> MRN</span></th>
                    <th style="width:10%;"><span><i class="fa fa-calendar" > </i> DOB</span></th>
                    <th style="width:5%;"><span><i class="fa fa-calendar" ></i> REPORT</span></th>
                    <th style="width:30%;"><span><i class="fa fa-calendar" ></i> DATE</span></th>
                </tr>
                </thead>

                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td class="clickable-element" data-href='{% url "patient_detail" patient.id %}'>{{ patient.name }}</td>
                            <td class="clickable-element" data-href='{% url "patient_detail" patient.id %}'>{{ patient.mrn }}</td>
                            <td class="clickable-element" data-href='{% url "patient_detail" patient.id %}'>{{ patient.dob }}</td>
                            {% if patient.newest_assessment %}
                            <td>
                                <div class="dropdown-con">
                                    <div class="icon-con">
                                        <a href="https://celerihealth.com/reports/view/{{ patient.newest_assessment.report_id }}">
                                            <i class="fa fa-file-text-o"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="https://celerihealth.com/reports/view/{{ patient.newest_assessment.report_id }}"><i class="fa fa-eye"></i> View</a>
                                            <a class="dropdown-item" href="https://celerihealth.com/reports/download/{{ patient.newest_assessment.report_id }}" media="print"><i class="fa fa-print"></i> Print</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                                {% timezone timezone %}
                            <td>{{ patient.newest_assessment.date_created }}</td>
                                {% endtimezone %}
                            {% else %}
                            <td></td>
                            <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                {% if paginator.current_page > 1 %}
                    <li class="page-item disabled" data-page="{{paginator.current_page|add:'-1' }}"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                {% endif %}

                {% for i in paginator.page_range|pagination_range:paginator.current_page %}
                    {% if i == paginator.current_page%}
                        <li class="page-item active" data-page="{{i}}">
                            <a class="page-link" href="javascript:void(0)">{{i}} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item" data-page="{{i}}"><a class="page-link" href="javascript:void(0)">{{i}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.current_page < paginator.last_page %}
                    <li class="page-item" data-page="{{paginator.current_page|add:'1'}}">
                        <a class="page-link" href="javascript:void(0)">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="main-footer">
        <div class="text-right">
            <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
        </div>
    </div>
{% endblock %}

{% block page-javascript %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'assets/js/lodash.js' %}"></script>
    <script src="{% static 'assets/js/search_patient.js' %}"></script>
{% endblock %}