{% extends "base.html" %}

{% load static %}

{% block content %}
    <form class="user-data new" action="{% url 'patient_detail' patient_id %}" method="post">
        {% csrf_token %}

        <div class="text-right link-con">
          <a href="{% url 'patient_index' %}" class="link">Cancel</a>
        </div>

        <div class="heading">{{ patient.mrn }} - {{ patient.name }}</div>

        <div class="user-form">
          <div class="form-group form-inline">
            <label for="">1. Select Physician</label>

            <div class="form-control select-con">
              <select name="physician_id">
                  {% for physician in physician_choices %}
                      <option value="{{ physician.id }}">{{ physician.name }}</option>
                  {% endfor %}
              </select>

              <i class="fa fa-caret-down"></i>
            </div>
          </div>

          <div class="form-group">
            <label for="">2. Select One Assessment or Screening</label>
          </div>

          <div class="checkbox-con">
            <div class="check-inner">
              <div class="checkbox-heading">Brief Screening Assessments: CPT 96127</div>

              <div class="row equal">
                  {% for screening in screening_choices %}
                      <div class="col-md-6">
                          <input type="checkbox" id='{{ screening.id }}' value="{{ screening.id }}">
                          <label for="{{ screening.id }}">
                            {{ screening.title }}
                            <p>({% for instrument in screening.instruments %}{{ instrument.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %})</p>
                          </label>
                        </div>
                  {% endfor %}
              </div>
            </div>

            <div class="check-inner">
              <div class="checkbox-heading less-mr">Computer-Administered Psychological Testing: CPT 96103</div>

              <div class="row equal">
                  {% for assessment in assessment_choices %}
                      <div class="col-md-6">
                          <input type="checkbox" id='{{ assessment.id }}' value="{{ assessment.id }}">
                          <label for="{{ assessment.id }}">
                            {{ assessment.title }}
                            <p>({% for instrument in assessment.instruments %}{{ instrument.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %})</p>
                          </label>
                        </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>

        <input type="hidden" id="screening_id" name="screening_id" value="">

        <div class="btn-con">
          <a href="{% url 'patient_index' %}" class="btn btn-primary grey">PREVIOUS</a>
          <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </form>
    <div class="main-footer">
        <div class="text-right">
          <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
        </div>
    </div>
{% endblock %}

{% block page-javascript %}
    <script>
        $('input[type="checkbox"]').on('change', function() {
            $('input[type="checkbox"]').not(this).prop('checked', false);
            document.getElementById("screening_id").value = this.value;
        });
    </script>
{% endblock %}