{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="user-data new">

        <div class="heading text-center mr-0">
            The assessment will now begin. <br>
            When you are ready, <br>
            please push the Start button. <br>
        </div>

        <div class="btn-con text-center">
            <form id="go-form" action="{% url 'start_remote_assessment' assessment_uuid %}" method="POST">
                {% csrf_token %}
            </form>
            <button onclick="submitForm()" class="btn btn-primary">START</button>
        </div>
    </div>


{% endblock %}

{% block page-javascript %}
    <script>
    function submitForm() {
        document.getElementById("go-form").submit();
    }


    </script>
{% endblock %}