{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="user-data new">
        <div class="text-right link-con">
            <a href="{% url 'patient_index' %}" class="link">Cancel</a>
        </div>

        <div class="heading text-center mr-0">
            The assessment will now begin. <br>
            Please make sure the patient is ready, <br>
            then push the Start button. <br>
        </div>

        <div class="btn-con text-center">
            <form id="go-form" action="{% url 'start_assessment' assessment_id %}" method="POST">
                {% csrf_token %}
            </form>
            <button onclick="submitForm()" class="btn btn-primary">START</button>
        </div>
    </div>


{% endblock %}

{% block page-javascript %}
    <script>
    function submitForm() {
        document.getElementById("go-form").submit();
    }


    </script>
{% endblock %}