{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}


    <div class="user-data new">
        <div class="text-right link-con">
            <a href="{% url 'patient_index' %}" class="link">Cancel</a>
        </div>

        <div class="heading text-center mr-0">
            {% for question_el in question_elements %}
                {{ question_el.Description|safe }}
            {% endfor %}
        </div>

        <ul class="checkbox-list">
            {% for answer_el in answer_elements %}
                <li>
                    {% if answer_el.question_instance_id %}
                    <button onclick="submitAnswer('{{ answer_el.ItemResponseOID }}', '{{ answer_el.Value }}', '{{ answer_el.question_instance_id }}')"
                    {% else %}
                    <button onclick="submitAnswer('{{ answer_el.ItemResponseOID }}', '{{ answer_el.Value }}', '')"
                    {% endif %}
                           class="btn btn-primary">
                        {{ answer_el.Description }}
                    </button>
                </li>
            {% endfor %}

        </ul>

{#        <div class="btn-con align-left">#}
{#            <a href="#" class="btn btn-primary grey">PREVIOUS</a>#}
{#        </div>#}
    </div>

    <div class="main-footer">
        <div class="text-right">
            <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
        </div>
    </div>



{% endblock %}

{% block page-javascript %}


    <script>
    </script>
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


        NProgress.configure({
            minimum: 0.5,
            easing: 'ease',
            speed: 500
        });

        function submitAnswer(itemResponseId, value, question_instance_id) {
            $.ajax({
                url: '{% url 'take_assessment' assessment_id %}',
                type: 'POST',
                data: {'ItemResponseOID': itemResponseId,
                       'Response': value,
                        'question_instance_id': question_instance_id},
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    $('button').prop('disabled', true);
                    $('button').attr('disabled','disabled');
                    $('button').attr("onclick", "");
                    $('button').on('mouseover mouseenter mouseleave mouseup mousedown', function() {
                       return false
                    });
                    NProgress.start();
                    NProgress.inc();
                },
                success: function(response) {
                    NProgress.done();
                    $('body').html(response);
                }
            })
        }

        $(document).ready(function() {
            $("#loader").hide();
        });

    </script>
{% endblock %}