{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="user-data new">

        {% if remote_assessment %}
        <div class="heading text-center mr-0">
            Thank you for completing the assessment.  You may close this window.<br>
        </div>
        {% else %}
        <div class="heading text-center mr-0">
            Thank you for completing the assessment.  Have a wonderful day.<br>
        </div>
        {% endif %}


        <div class="btn-con text-center">
            <form id="go-form" action="{% url 'finished_assessment' assessment_id %}" method="POST">
                {% csrf_token %}
            </form>
            {% if not remote_assessment %}
                <button onclick="submitForm()" class="btn btn-primary">CONTINUE</button>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block page-javascript %}
    <script>
    function submitForm() {
        document.getElementById("go-form").submit();
    }


    </script>
{% endblock %}