@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-MediumItalic.eot');
    src: url('../fonts/NationalWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-MediumItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-BlackItalic.eot');
    src: url('../fonts/NationalWeb-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-BlackItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-LightItalic.eot');
    src: url('../fonts/NationalWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-LightItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Semibold.eot');
    src: url('../fonts/NationalWeb-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Semibold.woff2') format('woff2'),
    url('../fonts/NationalWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Black.eot');
    src: url('../fonts/NationalWeb-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Black.woff2') format('woff2'),
    url('../fonts/NationalWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Bold.eot');
    src: url('../fonts/NationalWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Bold.woff2') format('woff2'),
    url('../fonts/NationalWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-RegularItalic.eot');
    src: url('../fonts/NationalWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-RegularItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Thin.eot');
    src: url('../fonts/NationalWeb-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Thin.woff2') format('woff2'),
    url('../fonts/NationalWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Extrabold.eot');
    src: url('../fonts/NationalWeb-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Extrabold.woff2') format('woff2'),
    url('../fonts/NationalWeb-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-BoldItalic.eot');
    src: url('../fonts/NationalWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-BoldItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-ThinItalic.eot');
    src: url('../fonts/NationalWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-ThinItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-SemiboldItalic.eot');
    src: url('../fonts/NationalWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Book.eot');
    src: url('../fonts/NationalWeb-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Book.woff2') format('woff2'),
    url('../fonts/NationalWeb-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-ExtraboldItalic.eot');
    src: url('../fonts/NationalWeb-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-ExtraboldItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Medium.eot');
    src: url('../fonts/NationalWeb-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Medium.woff2') format('woff2'),
    url('../fonts/NationalWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Regular.eot');
    src: url('../fonts/NationalWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Regular.woff2') format('woff2'),
    url('../fonts/NationalWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-BookItalic.eot');
    src: url('../fonts/NationalWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-BookItalic.woff2') format('woff2'),
    url('../fonts/NationalWeb-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('../fonts/NationalWeb-Light.eot');
    src: url('../fonts/NationalWeb-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NationalWeb-Light.woff2') format('woff2'),
    url('../fonts/NationalWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+30-39;
}

