

/*.clickable-row {*/
    /*cursor: pointer !important;*/
    /*pointer-events: auto;*/
/*}*/

/*input[type=checkbox] {*/
    /*!* All browsers except webkit*!*/
    /*transform: scale(2);*/
    /*!* Webkit browsers*!*/
    /*-webkit-transform: scale(2);*/
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
/*}*/


/*.btn-circle {*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*text-align: center;*/
  /*padding: 6px 0;*/
  /*font-size: 12px;*/
  /*line-height: 1.428571429;*/
  /*border-radius: 15px;*/
/*}*/

/*.btn-circle.btn-lg {*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*padding: 10px 16px;*/
  /*font-size: 18px;*/
  /*line-height: 1.33;*/
  /*border-radius: 25px;*/
/*}*/

/*.btn-circle.btn-xl {*/
  /*width: 70px;*/
  /*height: 70px;*/
  /*padding: 10px 16px;*/
  /*font-size: 24px;*/
  /*line-height: 1.33;*/
  /*border-radius: 35px;*/
  /*margin: 5px;*/
/*}*/

/*.btn-invis-circle {*/
  /*width: 70px;*/
  /*height: 70px;*/
  /*padding: 10px 16px;*/
  /*font-size: 24px;*/
  /*line-height: 1.33;*/
  /*border-radius: 35px;*/
  /*margin: 5px;*/
  /*opacity: 0.0;*/
/*}*/

/*.btn-circle.btn-xl.reset {*/
  /*width: 70px;*/
  /*height: 70px;*/
  /*padding: 10px 12px;*/
  /*font-size: 18px;*/
  /*line-height: 1.33;*/
  /*border-radius: 35px;*/
  /*margin: 5px;*/
/*}*/

.pin-form {
  display:none;
}

.sign-in {
  height: 36px;
  width: 143px;
  color: #1A1A1A;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 40px;
  /*margin-left: 40px;*/
  /*margin-top: 40px;*/
}

/*.form-group {*/
  /*!*margin-left: 20px;*!*/
  /*!*margin-right: 20px;*!*/
  /*height: 40px;*/
  /*font-size: 18px;*/
  /*font-weight: 500;*/
  /*line-height: 21px;*/
  /*!*margin-bottom: 20px;*!*/
/*}*/

.forgot-password {
  height: 26px;
  width: 116px;
  color: #797979;
  font-family: National;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-left: auto;
  /*margin-right: 40px;*/
  /*margin-top: 40px;*/
}

.sign-in-card-box {
  margin-top: 30px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
  padding: 40px;
}

.pin-card-box {
  margin-top: 30px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
}

.sign-in-btn {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 45px;
  width: 120px;
}

.provider-logo {
  margin-top: 100px;
  height: 75px;
  width: 180px;
}

/*.navbar-logo {*/
  /*width: 180px;*/
  /*height: 75px;*/
/*}*/

/*.navbar-logout {*/
  /*margin-top: 39px;*/
  /*padding-top: 39px;*/
  /*line-height: 99px;*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*font-size: 20px;*/
  /*color: #797979;*/
/*}*/

/*.navbar-name {*/
  /*margin-top: 39px;*/
  /*padding-top: 39px;*/
  /*line-height: 99px;*/
  /*color: #797979;*/
  /*font-size: 16px;*/
  /*margin-right: 40px;*/
/*}*/

/*.index-header-row {*/
  /*margin-top: 80px;*/
  /*color: #797979;*/
/*}*/

/*.index-name-date-row {*/
  /*font-size: 22px;*/
  /*color: #797979;*/
  /*font-weight: 300;*/
/*}*/

/*.patient-card-header {*/
  /*color: #1A1A1A;*/
  /*font-size: 30px;*/
  /*margin-right: 22px;*/
  /*font-weight: 300;*/
/*}*/

/*.patient-index-card {*/
  /*margin-top: 30px;*/
  /*background-clip: padding-box;*/
  /*margin-bottom: 20px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);*/
  /*padding: 40px;*/
/*}*/

/*.new-patient-icon {*/
  /*height: 20px !important;*/
  /*width: 20px !important;*/
/*}*/

/*.new-patient-button {*/
  /*height: 45px;*/
  /*width: 208px;*/
  /*border-radius: 29px;*/
/*}*/

/*.patient-detail-card-box {*/
  /*margin-top: 80px;*/
  /*background-clip: padding-box;*/
  /*margin-bottom: 20px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);*/
  /*padding: 40px;*/
/*}*/

/*.mrn-patient-name {*/
  /*height: 36px;*/
  /*width: 461px;*/
  /*color: #1A1A1A;*/
  /*font-size: 30px;*/
  /*font-weight: 300;*/
  /*line-height: 40px;*/
/*}*/

/*.patient-detail-header-row {*/
  /*margin-top: 39px;*/
  /*font-size: 18px;*/
  /*font-weight: 500;*/
  /*color: #797979;*/
/*}*/

/*.select-physician-box {*/
  /*margin-left: 14px;*/
  /*border: 1px solid #E0E0E0;*/
  /*border-radius: 4px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.11), 0 1px 4px 0 rgba(0, 0, 0, 0.06);*/
  /*width: 100%;*/
/*}*/


/*.patient-detail-sub-header-row {*/
  /*color: #1A1A1A;*/
  /*font-size: 18px;*/
  /*line-height: 21px;*/
  /*margin-left: 13px;*/
  /*margin-top: 10px;*/
/*}*/

/*.select-physician-label {*/
  /*margin-left: 0px;*/
  /*padding: 0px;*/
/*}*/

/*.assessment-container {*/
  /*margin-top: 10px;*/
  /*!*padding: 10px;*!*/
  /*margin-left: 13px;*/
/*}*/

/*.assessment-selection-box {*/
  /*border: 1px solid #E0E0E0;*/
  /*border-radius: 4px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.11), 0 1px 4px 0 rgba(0, 0, 0, 0.06);*/
  /*padding: 10px;*/
  /*margin: 5px;*/
/*}*/

/*.selection-box-selected {*/
  /*border: 1px solid #2766F2 !important;*/
/*}*/

/*.assessment-title {*/
  /*color: #1A1A1A;*/
  /*font-size: 16px;*/
/*}*/

/*.assessment-title-selected {*/
  /*color: #2766F2;*/
  /*font-size: 16px;*/
/*}*/

/*.assessment-instruments {*/
  /*color: #9C9C9C;*/
  /*font-family: National;*/
  /*font-size: 14px;*/
  /*line-height: 20px;*/
/*}*/

/*.btn-secondary {*/
  /*background-color: #9C9C9C;*/
  /*border: 1px solid #9C9C9C;*/
  /*border-radius: 29px;*/
  /*font-size: 18px;*/
  /*letter-spacing: 0.72px;*/
  /*!*line-height: 28px;*!*/
/*}*/

/*.assessment-question-text {*/
  /*font-weight: 300;*/
  /*color: #1A1A1A;*/
  /*font-size: 30px;*/
  /*margin-bottom: 40px;*/
/*}*/

/*.assessment-question-box {*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);*/
  /*padding: 40px;*/
/*}*/

/*.assessment-complete {*/
  /*color: #1A1A1A;*/
  /*font-size: 30px;*/
  /*font-weight: 300;*/
  /*line-height: 40px;*/
/*}*/

/*.assessment-complete-box {*/
  /*margin-top: 90px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);*/
  /*padding: 40px 31px 40px;*/
/*}*/

/*.assessment-complete-detail-box {*/
  /*border: 1px solid #E0E0E0;*/
  /*padding: 16px 15px 30px;*/
  /*margin-top: 30px;*/
/*}*/

/*.assessment-complete-detail-header {*/
  /*color: #797979;*/
  /*font-size: 14px;*/
  /*font-weight: 600;*/
/*}*/

/*.assessment-complete-detail-text {*/
  /*color: #1A1A1A;*/
  /*font-size: 18px;*/
  /*line-height: 21px;*/
/*}*/

/*.dashboard-home-button {*/
  /*margin-top: 22px;*/
/*}*/
