{% load static %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Celèri Health | Assessment Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- App css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>

</head>
<body>

<div class="wrapper-page">


    <div class="text-center">
        <a href="{% url 'patient_index' %}" class="logo-lg">
            <img src="{% static 'assets/images/celeri-health-color-rgb-small.png' %}" >
        </a>
    </div>
    <div class="row">
        <h4>You have been logged out. Click the button below to log in again.</h4>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <a class="btn btn-xs btn-success waves-effect waves-light large-text"
                    href="{%  url 'login' %}">
                    <i class="ion-log-in"></i>
                    Login
                </a>
        </div>

        <div class="col-4"></div>
    </div>

</div>


<!-- jQuery  -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/jquery.core.js' %}"></script>
<script src="{% static 'assets/js/jquery.app.js' %}"></script>

</body>
</html>