{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="login-con">
        <div class="logo-con">
{#            <img src="images/logo_placeholder.png" alt="">#}
        </div>

        <div class="body">
            <div class="header">
                <div class="heading">Sign In</div>

                <a href="https://celerihealth.com/password/reset" class="forgot">Forgot Password?</a>
            </div>

            <form method="post" class="form-horizontal" action="{% url 'login' %}">
                    {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-warning alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ form.non_field_errors|striptags }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <input type="email" placeholder="Email" id="id_username" name="username" class="form-control">
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Password" id="id_password" name="password" class="form-control">
                </div>
                <div class="form-check">
                    <input type="checkbox" id="id_remember" name="remember" class="form-check-input">
                    <label class="form-check-label" for="id_remember">Remember me</label>
                </div>

                <div>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>

                <div class="btns-con text-center">
                    <input type="submit" value="SIGN IN" class="btn">
                </div>
            </form>
        </div>

        <div class="main-footer">
            <div class="text-right">
                <a href="#" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>
            </div>
        </div>
    </div>

{% endblock %}