
body {
  font-family: 'National';
  font-size: 14px;
  color: #1A1A1A;
  background-color: #F7F7F7;
  line-height: normal;
}

ul, ol {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0
}

img {
  max-width: 100%;
}

.table {
  margin: 0;
}

a {
  color: #797979;
  text-decoration: none !important;
  transition: all .4s ease;
}

a:hover {
  color: #2766F2;
}

.pad-0 {
  padding: 0 !important;
}

.main-con {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}

.container {
  max-width: 1054px;
}

.main-header {
  background: #FFFFFF;
  padding: 14px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
  font-size: 16px;
  position: relative;
  z-index: 9;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header .main-logo {
  max-width: 180px;
  max-height: 75px;
  display: inline-block;
}

.main-header .container > ul {
  display: flex;
  list-style: none;
}

.main-header .container .ml-auto a {
  display: flex;
  align-items: center;
}

.main-header .container .ml-auto i {
  font-size: 20px;
  display: inline-flex;
}

.main-header .container .ml-auto .user i {
  margin-right: 10px;
}

.main-header .container .ml-auto li {
  margin-right: 40px;
  position: relative;
}

.main-header .container .ml-auto li:last-child {
  margin-right: 0;
}

.main-header .container .door a:after {
  height: 24px;
  width: 72px;
  background-color: #1A1A1A;
  border-radius: 18px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 23px;
  position: absolute;
  top: 24px;
  left: -27px;
  display: none;
}

.main-header .container .door:hover a:after {
  display: block;
}

.main-header .container .logout a:after {
  content: 'Sign Out';
}

.main-header .container .login a:after {
  content: 'Sign In';
}

.main-body {
  padding: 41px 0 0;
}

.user-info {
  color: #797979;
  padding-bottom: 30px;
}

.user-info .heading {
  text-transform: uppercase;
}

.user-info .name {
  font-size: 22px;
  padding-top: 1px;
}

.user-info .inner {
  padding-bottom: 15px;
}

.user-data {
  padding: 40px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
  background: #FFFFFF;
}

.user-data .inner {
  display: flex;
  align-items: center;
}

.user-data .heading {
  font-size: 30px;
  font-weight: normal;
  margin-right: 22px;
  padding-bottom: 30px;
}

.user-data .btn {
  font-size: 18px;
  border-radius: 29px;
  height: 45px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  background: #2766F2;
  border-color: #2766F2;
}

.user-data .btn.grey {
  background-color: #9C9C9C;
  border-color: #9C9C9C;
}

.user-data .btn i {
  font-size: 20px;
  display: inline-flex;
  margin-right: 2px;
}

.user-data .btn .icons {
  display: inline-flex;
  margin-right: 3px;
}

.user-data .btn:hover {
  opacity: 0.9;
}

.user-data .search-con {
  width: 100%;
  max-width: 270px;
  border: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.11), 0 2px 4px 0 rgba(0,0,0,0.05);
  position: relative;
  height: 40px;
  color: #9C9C9C;
  display: flex;
  align-items: center;
}

.user-data .search-con > input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: 0;
  padding-left: 37px;
  outline: none;
  color: #9C9C9C;
  font-family: 'national';
}

.user-data .header {
  padding-bottom: 30px;
}

.user-data .header .heading {
  padding-bottom: 0;
}

.user-table thead {
  background-color: #F7F7F7;
}

.user-table thead th {
  border-bottom: 0;
  color: #797979;
}

.user-table thead th i {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.user-table thead th span {
  display: flex;
  align-items: center;
  width: 160px;
}

.user-table thead th span i {
  margin-right: 5px;
}

.dropdown-con {
  display: flex;
  align-items: center;
}

.dropdown-con .dropdown {
  margin-left: auto;
}

.no-margin.dropdown-con .dropdown {
  margin-left: 5px;
}

.dropdown-con .dropdown .dropdown-menu {
  background-color: #1A1A1A;
  width: 87px;
  min-width: auto;
  border-radius: 10px;
  padding: 0;
}

.dropdown-con .dropdown .dropdown-menu a {
  color: #FFFFFF;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 2px solid rgba(121,121,121,0.4);
}

.dropdown-con .dropdown .dropdown-item:focus,
.dropdown-con .dropdown .dropdown-item.active,
.dropdown-con .dropdown .dropdown-item:hover {
  background: rgba(121,121,121,0.23);
}

.dropdown-con .dropdown .dropdown-menu a i {
  display: inline-flex;
  margin-right: 4px;
  font-size: 18px;
}

.dropdown-con .dropdown .dropdown-toggle {
  height: 14px;
  width: 14px;
  border-radius: 2px;
  background: #e0e0e0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-con .dropdown .dropdown-toggle:after {
  display: none;
}

.icon-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border: 1px solid #9C9C9C;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.11);
  font-size: 20px;
  color: #ccc;
}

.user-table td {
  vertical-align: middle;
  padding: 6px 15px;
}

.main-footer {
  padding: 30px 0;
}

.main-footer .powered-by {
  display: inline-block;
  max-width: 153px;
}

.user-data.new {
  padding-top: 15px;
}

.user-data .link {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline !important;
}

.user-data .link-con {
  padding-bottom: 25px;
}

.form-control {
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.11), 0 2px 4px 0 rgba(0,0,0,0.05);
  border: 1px solid #E0E0E0;
  height: 40px;
  background-color: #FFFFFF;
  outline: none;
  font-size: 14px;
  color: #1A1A1A;
}

.form-control:focus {
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.11), 0 2px 4px 0 rgba(0,0,0,0.05);
  border: 1px solid #E0E0E0;
}

.form-inline .form-group {
  width: 100%;
}

.form-inline .select-con.sm {
  max-width: 140px;
  width: 100%;
}

.form-inline .form-control {
  flex: 1;
  margin-left: 15px;
}

.user-form .form-group {
  margin-bottom: 20px;
}

.user-form label {
  font-size: 18px;
  color: #797979;
  font-weight: 500;
}

.select-con {
  position: relative;
}

.select-con select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  color: #1A1A1A;
  font-size: 14px;
  padding: 5px 15px;
  z-index: 9;
  outline: none;
}

.select-con .fa {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-con {
  display: flex;
  justify-content: flex-end;
}

.btn-con.align-left {
  justify-content: flex-start;
}

.btn-con.text-center {
  justify-content: center;
}

.btn-con .btn {
  height: 45px;
  width: 120px;
  margin-right: 20px;
}

.btn-con .btn.width-auto {
  width: auto;
  padding: 0 20px;
}

.btn-con .btn:last-child {
  margin-right: 0;
}

.checkbox-heading {
  padding-bottom: 20px;
  font-size: 18px;
}

.checkbox-heading.less-mr {
  padding-bottom: 5px;
}

.checkbox-con {
  padding-left: 18px;
}

.checkbox-con .check-inner {
  padding-bottom: 20px;
}

.checkbox-con input {
  display: none;
}

.checkbox-con input + label {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.11), 0 1px 4px 0 rgba(0,0,0,0.06);
  padding: 10px 15px;
  display: block;
  margin-bottom: 13px;
  font-size: 16px;
  color: #1A1A1A;
  font-weight: normal;
  cursor: pointer;
}

.checkbox-con input + label p {
  font-size: 14px;
  color: #9C9C9C;
}

.checkbox-con input + label:hover,
.checkbox-con input:checked + label {
  border: 1px solid #2766F2;
  color: #2766F2;
}

.checkbox-list li {
  text-align: center;
  list-style: none;
}

.checkbox-list li button {
  margin-bottom: 15px;
}

.checkbox-list input {
  display: none;
}

.checkbox-list .btn {
  width: auto;
  display: inline-flex;
  padding: 0 20px;
}

.checkbox-list input:checked + button.btn {
  background: none;
  color: #2766F2;
}

.assessment-con {
  border: 1px solid #E0E0E0;
  padding: 15px 10px;
  margin-bottom: 30px;
}

.assessment-con .inner-heading {
  font-size: 14px;
  font-weight: 600;
  color: #797979;
}

.assessment-con .body {
  color: #1A1A1A;
  font-size: 18px;
  padding-top: 5px;
}

.assessment-con .asses-inner {
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .user-data .inner {
    justify-content: center;
    padding-bottom: 15px;
  }

  .user-data .search-con {
    margin: 0 !important;
  }

  .main-body {
    padding: 20px 0 0;
  }

  .user-data {
    padding: 15px;
  }

  .user-info {
    padding-bottom: 0;
  }

  .main-footer {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 575px) {
  .form-inline .form-control {
    margin-left: 0;
  }

  .multi-select .form-control.sm {
    margin-bottom: 15px;
    max-width: none;
  }

  .multi-select .form-control.sm:last-child {
    margin-bottom: 0;
  }

  .user-data .inner,
  .main-header .container {
    display: block;
    text-align: center;
  }

  .main-header .container > ul {
    justify-content: center;
    padding-top: 15px;
  }

  .user-data .btn {
    margin-top: 15px;
  }

  .user-data .heading br {
    display: none;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.pass-con {
  max-width: 235px;
  width: 100%;
  margin: 0px auto;
}

.pass-con .top-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.pass-con .top-dots li {
  height: 16px;
  width: 16px;
  border: 1px solid #2766F2;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 6px;
}

.pass-con .top-dots li.filled {
  background: #2766F2;
}

.pass-con .top-dots li:last-child {
  margin-right: 0;
}

.user-data .pass-con .heading {
  padding-bottom: 15px;
}

.btns-con {
  padding: 30px 30px 14px;
  background: #F5F5F5;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btns-con .blue-btn {
  font-family: 'Poppins';
  height: 45px;
  width: 45px;
  background: #2766F2;
  border: 1px solid #2766F2;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 26px;
  border-radius: 50%;
  padding-top: 2px;
}

.btns-con .blue-btn:hover,
.btns-con .blue-btn.active {
  background: #FFFFFF;
  color: #2766F2;
}

.btns-con li {
  margin-bottom: 16px;
}

.btns-con .btn {
  width: 110px;
}

.user-data .pass-con .btn {
  margin-top: 0;
}

.login-con {
  max-width: 500px;
  width: 100%;
  margin: 0px auto;
}

.login-con .logo-con {
  max-width: 180px;
  margin-bottom: 30px;
}

.login-con .body {
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
  padding: 40px;
}

.login-con .body .header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.login-con .body .header .heading {
  font-size: 30px;
  flex: 1;
}

.login-con .body .header a {
  color: #797979;
  font-size: 16px;
  transition: all .3s ease;
}

.login-con .body .header a:hover {
  color: #1A1A1A;
}

.login-con .body .btns-con {
  padding: 0;
  padding-top: 15px;
}

.login-con .body .btns-con .btn {
  height: 45px;
  width: 120px;
  background: #2766F2;
  border-radius: 29px;
  font-size: 18px;
  letter-spacing: 0.72px;
  font-weight: 600;
  color: #FFFFFF;
  transition: all .3s ease;
}

.login-con .body .btns-con .btn:hover {
  opacity: 0.9;
}

.alert-dismissible .close {
    padding: 0.45rem 1.25rem;
}

.handler {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
}

.handler .message {
    font-size: 24px;
}
.handler .big-title {
    font-weight: 100;
    font-size: 36px;
}

.search-con .status_searching {
    position: absolute;
    bottom: -2em;
    left: 0;
}

.clickable-element[data-href]:hover {
    background-color: rgba(127,127,255, 0.05);
    cursor: pointer;
}

.pagination {
    overflow: auto;
}