{% extends "base.html" %}

{% block content %}
    <div class="handler">
    <span class="big-title">The server encountered an unexpected condition which prevented it from fulfilling the request.</span>
    {% if message %}
        <br><br>
        <span class="message"> {{ message }}</span>
    {% endif %}
    </div>
{% endblock %}