<div class="row">
    <div class="col"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-12 notifications">
        {% include "alert.html" with messages=messages %}
    </div>
    <div class="col"></div>
</div>


<div class="user-data">
    <div class="pass-con">
        <div id="pin_title" class="heading text-center mr-0">{{ start_text }}</div>

        <ul id="current_pin" class="top-dots">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul class="btns-con">
            <li><a href="#" class="blue-btn pin_input">1</a></li>
            <li><a href="#" class="blue-btn pin_input">2</a></li>
            <li><a href="#" class="blue-btn pin_input">3</a></li>
            <li><a href="#" class="blue-btn pin_input">4</a></li>
            <li><a href="#" class="blue-btn pin_input">5</a></li>
            <li><a href="#" class="blue-btn pin_input">6</a></li>
            <li><a href="#" class="blue-btn pin_input">7</a></li>
            <li><a href="#" class="blue-btn pin_input">8</a></li>
            <li><a href="#" class="blue-btn pin_input">9</a></li>
            <li><a href="#" class="blue-btn pin_input">0</a></li>
            <li><a href="#" class="btn btn-primary grey reset">CLEAR</a></li>
        </ul>
    </div>

    <div class="btn-con align-right">
        <a href="#" class="btn btn-primary">NEXT</a>
    </div>
</div>

<div class="main-footer">
    <div class="text-right">
{#        <a href="{% url 'patient_index' %}" class="powered-by"><img src="{% static 'assets/images/powered-by.png' %}" alt=""></a>#}
    </div>
</div>

{#<div class="row m-t-40">#}
{#    <div class="col"></div>#}
{#    <div class="col-lg-4 col-md-6 col-sm-10 col-12 text-center align-self-center">#}
{#        <div class="pin-card-box">#}
{#            <div class="row header">#}
{#                <div class="col-lg-12">#}
{#                    <h4 id="confirm_pin">{{ start_text }}</h4>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row header m-b-20 m-t-20">#}
{#                <div class="col-lg-12">#}
{#                    <h4 id="current_pin">&#x25CB; &nbsp; &#x25CB; &nbsp; &#x25CB; &nbsp; &#x25CB;</h4>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">1</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">2</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">3</button>#}
{#                </div>#}
{#                <div class="col-lg-12">#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">4</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">5</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">6</button>#}
{#                </div>#}
{#                <div class="col-lg-12">#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">7</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">8</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">9</button>#}
{#                </div>#}
{#                <div class="col-lg-12">#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input btn-invis-circle"></button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl pin_input">0</button>#}
{#                    <button class="btn btn-primary btn-circle btn-xl btn-danger reset">Clear</button>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="col"></div>#}
{#</div>#}